/FrameQuanLi/nbproject/private/
/FrameQuanLi/build/
/FrameQuanLi/dist/
/DiuAi_UI/nbproject/private/
/DiuAi_UI/build/
/DOIBONG/nbproject/private/
/DOIBONG/build/
/test/nbproject/private/
/BaiTapThucHanh4_20520368/nbproject/private/
/BaiTapThucHanh4_20520368/build/
/Ai_QuanLyNongTrai/build/
/Ai_QuanLyNongTrai/nbproject/private/
